.menu-item2.selected {
    background-color: var(--color-darkslateblue-100);
    color: white;
    max-width: fit-content;
}

.suns.selected {
    color: var(--color-darkslateblue-100);
    text-shadow: 1px 0 0 #214aa0, 0 1px 0 #214aa0, -1px 0 0 #214aa0, 0 -1px 0 #214aa0;
}

.menu-item2 {
    cursor: pointer;
}

.deadline-item {
    background-color: var(--color-gainsboro);
    width: 1440px;
    height: 1024px;
    opacity: 0.4;
}

.calendar-child,
.deadline-item,
.month {
    position: absolute;
    top: 0;
    left: 0;
}

.calendar-child {
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    border-radius: 9px;
    background-color: var(--white);
}

.month {
    font-size: var(--font-size-xl);
    letter-spacing: 0.38px;
    line-height: 24px;
    text-align: left;
    margin-left: 0.5em;
}

.fri,
.mon,
.sat,
.sun,
.thu,
.tue,
.wed {
    position: absolute;
    top: 14.87%;
    left: 3.45%;
    font-size: var(--caption-medium-size);
    line-height: 16px;
    color: var(--label-colors-lc-l-secondary);
}

.fri,
.sat,
.sun,
.thu,
.tue,
.wed {
    left: 31.72%;
}

.fri,
.sat,
.sun,
.thu,
.tue {
    left: 18.34%;
}

.fri,
.sat,
.sun,
.thu {
    left: 46.62%;
}

.fri,
.sat,
.sun {
    left: 62.12%;
}

.sat,
.sun {
    left: 75.82%;
}

.sun {
    left: 89.48%;
}

.div13,
.div14,
.div15,
.div16 {
    position: absolute;
    height: 12.12%;
    width: 14.28%;
    top: 27.31%;
    left: 0;
    letter-spacing: -0.32px;
    line-height: 21px;
    color: var(--ui-color-ui-gray);
    display: flex;
    align-items: center;
    justify-content: center;
}

.div14,
.div15,
.div16 {
    left: 14.28%;
}

.div15,
.div16 {
    left: 28.58%;
}

.div16 {
    left: 42.86%;
}

.div17,
.div18,
.div19,
.div20,
.div21,
.div22,
.div23,
.div24,
.div25,
.div26,
.div27,
.div28,
.div29,
.div30,
.div31,
.div32,
.div33,
.div34,
.div35,
.div36,
.div37,
.div38 {
    position: absolute;
    height: 12.12%;
    width: 14.28%;
    top: 27.31%;
    left: 57.14%;
    letter-spacing: -0.32px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.div18,
.div19,
.div20,
.div21,
.div22,
.div23,
.div24,
.div25,
.div26,
.div27,
.div28,
.div29,
.div30,
.div31,
.div32,
.div33,
.div34,
.div35,
.div36,
.div37,
.div38 {
    left: 71.42%;
    cursor: pointer;
}

.div19,
.div20,
.div21,
.div22,
.div23,
.div24,
.div25,
.div26,
.div27,
.div28,
.div29,
.div30,
.div31,
.div32,
.div33,
.div34,
.div35,
.div36,
.div37,
.div38 {
    left: 85.72%;
    cursor: pointer;
}

.div20,
.div21,
.div22,
.div23,
.div24,
.div25,
.div26,
.div27,
.div28,
.div29,
.div30,
.div31,
.div32,
.div33,
.div34,
.div35,
.div36,
.div37,
.div38 {
    top: 39.43%;
    left: 0;
    cursor: pointer;
}

.div21,
.div22,
.div23,
.div24,
.div25,
.div26,
.div27,
.div28,
.div29,
.div30,
.div31,
.div32,
.div33,
.div34,
.div35,
.div36,
.div37,
.div38 {
    left: 14.28%;
    cursor: pointer;
}

.div22,
.div23,
.div24,
.div25,
.div26,
.div27,
.div28,
.div29,
.div30,
.div31,
.div32,
.div33,
.div34,
.div35,
.div36,
.div37,
.div38 {
    left: 28.58%;
    cursor: pointer;
}

.div23,
.div24,
.div25,
.div26,
.div27,
.div28,
.div29,
.div30,
.div31,
.div32,
.div33,
.div34,
.div35,
.div36,
.div37,
.div38 {
    left: 42.86%;
    cursor: pointer;
}

.div24,
.div25,
.div26,
.div27,
.div28,
.div29,
.div30,
.div31,
.div32,
.div33,
.div34,
.div35,
.div36,
.div37,
.div38 {
    left: 57.14%;
    cursor: pointer;
}

.div25,
.div26,
.div27,
.div28,
.div29,
.div30,
.div31,
.div32,
.div33,
.div34,
.div35,
.div36,
.div37,
.div38 {
    left: 71.42%;
    cursor: pointer;
}

.div26,
.div27,
.div28,
.div29,
.div30,
.div31,
.div32,
.div33,
.div34,
.div35,
.div36,
.div37,
.div38 {
    left: 85.72%;
    cursor: pointer;
}

.div27,
.div28,
.div29,
.div30,
.div31,
.div32,
.div33,
.div34,
.div35,
.div36,
.div37,
.div38 {
    top: 51.55%;
    left: 0;
    cursor: pointer;
}

.div28,
.div29,
.div30,
.div31,
.div32,
.div33,
.div34,
.div35,
.div36,
.div37,
.div38 {
    left: 14.28%;
    cursor: pointer;
}

.div29,
.div30,
.div31,
.div32,
.div33,
.div34,
.div35,
.div36,
.div37,
.div38 {
    left: 28.58%;
    cursor: pointer;
}

.div30,
.div31,
.div32,
.div33,
.div34,
.div35,
.div36,
.div37,
.div38 {
    left: 42.86%;
    cursor: pointer;
}

.div31,
.div32,
.div33,
.div34,
.div35,
.div36,
.div37,
.div38 {
    left: 85.72%;
    cursor: pointer;
}

.div32,
.div33,
.div34,
.div35,
.div36,
.div37,
.div38 {
    top: 63.64%;
    left: 0;
    cursor: pointer;
}

.div33,
.div34,
.div35,
.div36,
.div37,
.div38 {
    left: 14.28%;
    cursor: pointer;
}

.div34,
.div35,
.div36,
.div37,
.div38 {
    left: 28.58%;
}

.div35,
.div36,
.div37,
.div38 {
    left: 42.86%;
}

.div36,
.div37,
.div38 {
    left: 57.14%;
}

.div37,
.div38 {
    left: 71.42%;
}

.div38 {
    left: 85.72%;
}

.div39,
.div40 {
    position: absolute;
    top: 75.76%;
    cursor: pointer;
}

.div39 {
    height: 12.12%;
    width: 14.28%;
    left: 0;
    letter-spacing: -0.32px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div40 {
    left: 14.28%;
}

.div40,
.div41,
.div42 {
    height: 12.12%;
    width: 14.28%;
    letter-spacing: -0.32px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.div41 {
    position: absolute;
    top: 75.76%;
    left: 28.58%;
}

.div42 {
    left: 42.86%;
}

.div42,
.div43,
.div44 {
    position: absolute;
    top: 75.76%;
    cursor: pointer;
}

.div43 {
    height: 12.12%;
    width: 14.28%;
    left: 57.14%;
    letter-spacing: -0.32px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div44 {
    left: 71.42%;
}

.div44,
.div45,
.div46,
.div47 {
    height: 12.12%;
    width: 14.28%;
    letter-spacing: -0.32px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.div45 {
    position: absolute;
    top: 75.76%;
    left: 85.72%;
}

.div46,
.div47 {
    top: 87.88%;
    color: var(--ui-color-ui-gray);
}

.div46 {
    position: absolute;
    left: 0;
}

.div47 {
    left: 14.28%;
}

.div47,
.div48,
.div49 {
    position: absolute;
    cursor: pointer;
}

.div48 {
    height: 12.12%;
    width: 14.28%;
    top: 87.88%;
    left: 28.58%;
    letter-spacing: -0.32px;
    line-height: 21px;
    color: var(--ui-color-ui-gray);
    display: flex;
    align-items: center;
    justify-content: center;
}

.div49 {
    left: 42.86%;
}

.div49,
.div50,
.div51 {
    height: 12.12%;
    width: 14.28%;
    top: 87.88%;
    letter-spacing: -0.32px;
    line-height: 21px;
    color: var(--ui-color-ui-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.div50 {
    position: absolute;
    left: 57.14%;
}

.div51 {
    left: 71.42%;
}

.days,
.div51,
.div52 {
    position: absolute;
}

.div52 {
    height: 12.12%;
    width: 14.28%;
    top: 87.88%;
    left: 85.72%;
    letter-spacing: -0.32px;
    line-height: 21px;
    color: var(--ui-color-ui-gray);
    display: flex;
    align-items: center;
    justify-content: center;
}

.days {
    top: 28px;
    left: 34px;
    width: 325px;
    height: 316px;
}

.frame-child11 {
    width: 6.5px;
    position: relative;
    height: 14px;
}

.div53,
.div54,
.frame-parent11 {
    position: absolute;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.frame-parent11 {
    height: 7.98%;
    width: 51.27%;
    top: 5.28%;
    right: 8.65%;
    bottom: 86.74%;
    left: 40.08%;
    flex-direction: row;
    justify-content: flex-start;
    gap: 125px;
}

.div53,
.div54 {
    height: 8.99%;
    width: 11.81%;
    top: 44.84%;
    left: 67.68%;
    letter-spacing: -0.32px;
    line-height: 21px;
    justify-content: center;
}

.div54 {
    left: 55.98%;
    /* color: var(--color-darkslateblue-100); */
    /* text-shadow: 1px 0 0#214aa0, 0 1px 0#214aa0, -1px 0 0#214aa0, 0-1px 0#214aa0; */
}

.calendar {
    width: 393px;
    position: relative;
    height: 426px;
    text-align: center;
    font-size: var(--font-size-base);
    color: var(--label-colors-lc-l-primary);
}

.menu-item {
    position: absolute;
    top: calc(50% - 192px);
    right: 0;
    /* background-color: var(--color-darkslateblue-100); */
    width: 68px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) var(--padding-base);
    box-sizing: border-box;
    color: var(--light-grey);
}

.menu-item2 {
    flex: 1;
    position: relative;
    line-height: 24px;
}

.menu-item1,
.menu-item3,
.menu-item5,
.menu-item6 {
    position: absolute;
    top: calc(50% - 160px);
    right: 0;
    width: 68px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) var(--padding-base);
    box-sizing: border-box;
}

.menu-item3,
.menu-item5,
.menu-item6 {
    top: calc(50% - 128px);
}

.menu-item5,
.menu-item6 {
    top: calc(50% - 96px);
}

.menu-item6 {
    top: calc(50% - 64px);
}

.menu-item8 {
    top: calc(50% - 32px);
}

.menu-item10,
.menu-item11,
.menu-item13,
.menu-item15,
.menu-item17,
.menu-item19,
.menu-item8 {
    position: absolute;
    right: 0;
    width: 68px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) var(--padding-base);
    box-sizing: border-box;
}

.menu-item10 {
    top: calc(50% - 0px);
    background-color: var(--light-grey);
    font-size: var(--sb-size);
    color: var(--gray-1);
}

.menu-item11,
.menu-item13,
.menu-item15,
.menu-item17,
.menu-item19 {
    top: calc(50% + 32px);
}

.menu-item13,
.menu-item15,
.menu-item17,
.menu-item19 {
    top: calc(50% + 64px);
}

.menu-item15,
.menu-item17,
.menu-item19 {
    top: calc(50% + 96px);
}

.menu-item17,
.menu-item19 {
    top: calc(50% + 128px);
}

.menu-item19 {
    top: calc(50% + 160px);
}

.month-selection {
    width: 68px;
    position: relative;
    box-shadow: var(--shadow);
    border-radius: var(--br-5xs);
    background-color: var(--white);
    height: 400px;
}

.menu-item21,
.menu-item27 {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) var(--padding-base);
}

.menu-item27 {
    /* background-color: var(--color-darkslateblue-100); */
    color: var(--light-grey);
}

/* .october {
    flex: 1;
    position: relative;
    line-height: 24px;
    font-weight: 600;
} */

.menu-item39 {
    align-self: stretch;
    background-color: var(--light-grey);
    overflow: hidden;
    flex-direction: row;
    padding: var(--padding-9xs) var(--padding-base);
    font-size: var(--sb-size);
    color: var(--gray-1);
}

.calender,
.menu-item39,
.year-selection {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.year-selection {
    width: 112px;
    box-shadow: var(--shadow);
    border-radius: var(--br-5xs);
    background-color: var(--white);
    flex-direction: column;
    padding: var(--padding-5xs) 0;
    box-sizing: border-box;
}

.calender {
    position: absolute;
    top: 254px;
    left: 243px;
    height: 426px;
    flex-direction: row;
    gap: 55px;
    font-size: var(--font-size);
    color: var(--grey);
    background-color: #ffffff;
}

.set-deadline {
    position: relative;
    line-height: 22px;
    font-weight: 500;
}

.login9 {
    position: absolute;
    top: 590px;
    left: 496px;
    box-shadow: 3px 4px 3.1px rgba(0, 0, 0, 0.33);
    border-radius: var(--br-7xs);
    border: 1px solid var(--white);
    box-sizing: border-box;
    width: 112px;
    height: 37px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-sm) var(--padding-15xl);
    cursor: pointer;
    text-align: center;
    font-size: var(--font-size);
    color: var(--color-darkslateblue-100);
}

.deadline {
    width: 1440px;
    background-color: var(--white);
    height: 1024px;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--label-colors-lc-l-primary);
    font-family: var(--font);
}