/* .create-survey-item {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-gainsboro);
    width: 1440px;
    height: 1024px;
    opacity: 0.4;
} */

.publish-form1 {
    position: absolute;
    top: 25px;
    left: 42px;
    font-weight: 500;
}

.icround-close-icon,
.publish-form-parent {
    position: absolute;
    top: 30px;
    left: 730px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}

.publish-form-parent {
    top: 0;
    left: 0;
    background-color: var(--color-aliceblue-200);
    width: 804px;
    height: 87px;
    font-size: var(--font-size-11xl);
}

.icbaseline-link-icon {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}

.link {
    position: relative;
    width: 100%;
    padding: 8px;
}

.icbaseline-link-parent {
    position: absolute;
    top: 107px;
    left: 41px;
    border-radius: var(--br-7xs);
    border: 1px solid var(--color-lightgray-100);
    box-sizing: border-box;
    width: 714px;
    height: 59px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-sm);
    gap: var(--gap-3xs);
}

.check-box-child {
    position: absolute;
    height: 108.33%;
    width: 108.33%;
    top: -4.17%;
    right: -4.17%;
    bottom: -4.17%;
    left: -4.17%;
    border-radius: var(--br-11xs);
    border: 2px solid var(--label-colors-lc-l-primary);
    box-sizing: border-box;
}

.check-box {
    width: 24px;
    position: relative;
    border-radius: var(--br-7xs);
    height: 24px;
}

.check-box-parent {
    position: absolute;
    top: 184px;
    left: 42px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-sm);
    cursor: pointer;
    font-size: var(--font-size-lg);
}

.copy {
    position: relative;
    line-height: 22px;
    font-weight: 500;
    cursor: pointer;
}

.login11,
.register8 {
    position: absolute;
    top: 203px;
    border-radius: var(--br-7xs);
    height: 39px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-sm) var(--padding-15xl);
    box-sizing: border-box;
    text-align: center;
}

.login11 {
    left: 646px;
    background-color: var(--color-darkslateblue-100);
    border: 1px solid var(--white);
    width: 108px;
    color: var(--white);
}

.register8 {
    left: 511px;
    width: 106px;
    color: var(--color-darkslateblue-100);
}

.create-survey,
.publish-form {
    background-color: var(--white);
    overflow: hidden;
}

.publish-form {
    position: absolute;
    top: 233px;
    left: 122px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: var(--br-7xs);
    width: 804px;
    height: 257px;
    z-index: 10;
    background-color: #ffffff;
}

.create-survey {
    width: 1440px;
    max-width: 100%;
    height: 1024px;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--label-colors-lc-l-primary);
    font-family: var(--font);
    z-index: 15;
}