.desktop-49-item {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #d9d9d9;
    width: 1440px;
    height: 1024px;
    opacity: 0.9;
}

.success-icon {
    width: 100px;
    position: relative;
    height: 100px;
}

.password-successfully-reset {
    position: relative;
    line-height: 150%;
}

.password-successfully-reset-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs);
}

.you-have-successfully {
    width: 483px;
    position: relative;
    line-height: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.you-have-successfully-reset-yo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs);
    text-align: center;
    font-size: 17px;
}

.back-to-login {
    position: relative;
    line-height: 150%;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.enabled {
    width: 380px;
    border-radius: 7.24px;
    background-color: var(--color-darkslateblue-100);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10.863157272338867px 21.726314544677734px;
    box-sizing: border-box;
}

.main-button,
.success-icon-parent {
    display: flex;
    justify-content: flex-start;
}

.main-button {
    flex-direction: row;
    align-items: flex-start;
    font-size: var(--font-size-base);
    color: var(--color-white);
    font-family: var(--font-raleway);
}

.success-icon-parent {
    position: absolute;
    top: 48px;
    left: 46px;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

.desktop-49,
.desktop-49-inner {
    background-color: var(--color-white);
    overflow: hidden;
}

.desktop-49-inner {
    position: absolute;
    top: 105px;
    left: 531px;
    border-radius: 15px;
    width: 595px;
    height: 454px;
    font-size: 24px;
    color: var(--dark-blue);
    z-index: 5;
}